<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <link rel="stylesheet" href="../static/exported.css"
  </head>
  <body class="c42 doc-content">
    <p class="c13 c35">
      <span class="c36">
      </span>
    </p>
    <a id="t.f6fb38b17a81686327b38a5bfb3bd9411ebd253b">
    </a>
    <a id="t.0">
    </a>
    <table class="c29">
      <tr class="c40">
        <td class="c41" colspan="6" rowspan="1">
          <p class="c4">
            <span class="c39">Ethan Post
            </span>
          </p>
          <p class="c4">
            <span class="c28">DevOps Engineer
            </span>
          </p>
          <p class="c4">
            <span class="c22">DevOps Engineer with almost 3 years of experience in the world of AWS and with 2 years of experiences previously spent as a Software Engineer. I have plenty of exposure in designing and streamlining playbooks in Ansible with a recent love of Terraform; dipping my toes in kubernetes. I also have plenty of exposure working on docker containers and automating with pipelines in Gitlab. I have found that I love working in the cloud and keeping up with the fast pace nature that this industry brings.
            </span>
          </p>
        </td>
      </tr>
      <tr class="c13">
        <td class="c3" colspan="1" rowspan="1">
          <p class="c10">
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 39.36px; height: 39.36px;">
              <img alt="" src="../static/images/image5.png" style="width: 39.36px; height: 39.36px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
          </p>
        </td>
        <td class="c25" colspan="2" rowspan="1">
          <p class="c4 c13">
            <span class="c17">
            </span>
          </p>
          <p class="c4">
            <span class="c26">Personal Info
            </span>
          </p>
        </td>
        <td class="c24" colspan="1" rowspan="12">
          <p class="c10 c13">
            <span class="c6">
            </span>
          </p>
        </td>
        <td class="c1" colspan="1" rowspan="1">
          <p class="c10">
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 39.36px; height: 39.36px;">
              <img alt="" src="../static/images/image7.png" style="width: 39.36px; height: 39.36px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
          </p>
        </td>
        <td class="c0" colspan="1" rowspan="1">
          <p class="c4 c13">
            <span class="c17">
            </span>
          </p>
          <p class="c4">
            <span class="c26">Work Experience
            </span>
          </p>
        </td>
      </tr>
      <tr class="c31">
        <td class="c27" colspan="3" rowspan="2">
          <hr>
          <p class="c4 c13">
            <span class="c17">
            </span>
          </p>
          <p class="c4">
            <span class="c21">Address
            </span>
          </p>
          <p class="c4">
            <span class="c20">1156 Grand Ave
            </span>
          </p>
          <p class="c4">
            <span class="c20">Astoria, Oregon 97103
            </span>
          </p>
          <p class="c4">
            <span class="c21">Phone
            </span>
          </p>
          <p class="c4">
            <span class="c20">(712) 461-2593
            </span>
          </p>
          <p class="c4">
            <span class="c21">Email
            </span>
          </p>
          <p class="c4">
            <span class="c32">
              <a class="c34" href="mailto:ethancpost@gmail.com">ethancpost@gmail.com
              </a>
            </span>
          </p>
          <p class="c4">
            <span class="c21">GitHub
            </span>
          </p>
          <p class="c4">
            <span class="c32">
              <a class="c34" href="https://www.google.com/url?q=https://github.com/maker2413&amp;sa=D&amp;source=editors&amp;ust=1679157884014732&amp;usg=AOvVaw2xmrHkwE-C6_wARAoZze6A">https://github.com/maker2413
              </a>
            </span>
          </p>
          <p class="c4 c13">
            <span class="c14">
            </span>
          </p>
        </td>
        <td class="c30" colspan="2" rowspan="1">
          <hr>
          <p class="c4 c13">
            <span class="c14">
            </span>
          </p>
        </td>
      </tr>
      <tr class="c15">
        <td class="c30" colspan="2" rowspan="10">
          <p class="c4">
            <span class="c28">DevOps Engineer
            </span>
          </p>
          <p class="c4">
            <span class="c33">Threatconnect Inc - Arlington, VA [Remote]
            </span>
            <span class="c6">(July 2019 - Current)
            </span>
          </p>
          <ul class="c11 lst-kix_list_3-0 start">
            <li class="c2 li-bullet-0">
              <span>Was Team lead of a group designated to redesign and expand our Terraform repository to encapsulate infrastructure that was previously managed through our Ansible Repos.
              </span>
            </li>
            <li class="c2 li-bullet-0">
              <span>Support over 100 clients in our AWS cloud environment using EC2 instances and Docker containers around the clock and even work in our weekly rotating on call schedule.
              </span>
            </li>
            <li class="c2 li-bullet-0">
              <span>Lead an effort to redesign our Ansible code base into separated repositories for each role to implement automated testing on our Ansible roles.
              </span>
            </li>
            <li class="c2 li-bullet-0">
              <span>Began work on moving our ELK Stack and Grafana monitoring cluster into EKS managed by using Terraform and Helm charts.
              </span>
            </li>
            <li class="c2 li-bullet-0">
              <span>Helped design Docker images and our CI files in GItlab after moving away from BitBucket.
              </span>
            </li>
          </ul>
          <p class="c4">
            <span class="c28">DevOps Engineer
            </span>
          </p>
          <p class="c4">
            <span class="c33">Earth Resources Observation and Science (EROS) Center Sioux Falls, SD
            </span>
            <span class="c6">(May 2018 - June 2019)
            </span>
          </p>
          <ul class="c11 lst-kix_list_1-0 start">
            <li class="c2 li-bullet-0">
              <span class="c6">Managed the Jenkins Server in our AWS environment and codified it with ansible including auto scaling EC2 workers.
              </span>
            </li>
            <li class="c2 li-bullet-0">
              <span class="c6">Built many ansible playbooks to build and configure AWS instances, AMIs, and Grafana dashboards.
              </span>
            </li>
            <li class="c2 li-bullet-0">
              <span class="c6">Got experience working in the agile development lifecycle with daily scrums and weekly sprints.
              </span>
            </li>
            <li class="c2 li-bullet-0">
              <span class="c6">Gained knowledge of linux system skills like scripting (python and bash), small bits of system admin skills (cron jobs and package management), and virtualization through docker containers.
              </span>
            </li>
            <li class="c2 li-bullet-0">
              <span>Was given the responsibility to train, teach, and manage some of our new hires.
              </span>
            </li>
          </ul>
          <p class="c4">
            <span class="c28">Software Engineer
            </span>
          </p>
          <p class="c4">
            <span class="c33">EROS Sioux Falls, SD
            </span>
            <span class="c6">(May 2017 - May 2018)
            </span>
          </p>
          <ul class="c11 lst-kix_list_4-0 start">
            <li class="c2 li-bullet-0">
              <span class="c6">Obtained Experience taking part in meetings and talking to the government customers.
              </span>
            </li>
            <li class="c2 li-bullet-0">
              <span class="c6">Was the solo developer for the Scheduling system used at EROS.
              </span>
            </li>
            <li class="c2 li-bullet-0">
              <span>Gained large amounts of experience in C/C++ including working with the Qt graphics library.
              </span>
            </li>
            <li class="c2 li-bullet-0">
              <span>Learned how to manage databases with MySQL and PostgresQL.
              </span>
            </li>
          </ul>
          <p class="c4">
            <span class="c28">Software Engineer Intern
            </span>
          </p>
          <p class="c4">
            <span class="c33">EROS Sioux Falls, SD
            </span>
            <span class="c6">(December 2016 - May 2017)
            </span>
          </p>
          <ul class="c11 lst-kix_list_2-0 start">
            <li class="c2 li-bullet-0">
              <span class="c6">Learned how to use SVN and Git.
              </span>
            </li>
            <li class="c2 li-bullet-0">
              <span class="c6">Developed Experience in the waterfall development life cycle.
              </span>
            </li>
            <li class="c2 li-bullet-0">
              <span class="c6">Acquired the skill of writing and reviewing documentation in Confluence.
              </span>
            </li>
            <li class="c2 li-bullet-0">
              <span class="c6">Learned how to write and work on tickets in JIRA.
              </span>
            </li>
          </ul>
        </td>
      </tr>
      <tr class="c31">
        <td class="c3" colspan="1" rowspan="1">
          <p class="c10">
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 39.50px; height: 39.50px;">
              <img alt="" src="../static/images/image6.png" style="width: 39.50px; height: 39.50px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
          </p>
        </td>
        <td class="c25" colspan="2" rowspan="1">
          <p class="c4 c13">
            <span class="c17">
            </span>
          </p>
          <p class="c4">
            <span class="c26">Skills
            </span>
          </p>
        </td>
      </tr>
      <tr class="c15">
        <td class="c27" colspan="3" rowspan="1">
          <hr>
          <p class="c4 c13">
            <span class="c17">
            </span>
          </p>
          <p class="c4">
            <span class="c6">Infrastructure-as-code
            </span>
          </p>
          <p class="c4">
            <span class="c6">Containers
            </span>
          </p>
          <p class="c4">
            <span class="c6">CI/CD
            </span>
          </p>
          <p class="c4">
            <span class="c6">Documentation
            </span>
          </p>
          <p class="c4">
            <span>Training others
            </span>
          </p>
        </td>
      </tr>
      <tr class="c15">
        <td class="c3" colspan="1" rowspan="1">
          <p class="c10">
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 39.36px; height: 39.36px;">
              <img alt="" src="../static/images/image8.png" style="width: 39.36px; height: 39.36px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
          </p>
        </td>
        <td class="c25" colspan="2" rowspan="1">
          <p class="c4 c13">
            <span class="c17">
            </span>
          </p>
          <p class="c4">
            <span class="c23">Software
            </span>
          </p>
        </td>
      </tr>
      <tr class="c16">
        <td class="c27" colspan="3" rowspan="1">
          <hr>
          <p class="c4 c13">
            <span class="c17">
            </span>
          </p>
        </td>
      </tr>
      <tr class="c15">
        <td class="c9" colspan="2" rowspan="1">
          <p class="c4">
            <span class="c6">AWS
            </span>
          </p>
          <p class="c4">
            <span class="c6">Ansible
            </span>
          </p>
          <p class="c4">
            <span class="c6">Bash/Zsh/Fish
            </span>
          </p>
          <p class="c4">
            <span class="c6">C/C++
            </span>
          </p>
          <p class="c4">
            <span class="c6">Cloudformation
            </span>
          </p>
          <p class="c4">
            <span class="c6">CloudWatch
            </span>
          </p>
          <p class="c4">
            <span class="c6">Docker
            </span>
          </p>
          <p class="c4">
            <span class="c6">Gitlab CI/Jenkins
            </span>
          </p>
          <p class="c4">
            <span class="c6">Grafana
            </span>
          </p>
          <p class="c4">
            <span class="c6">Python
            </span>
          </p>
          <p class="c4">
            <span class="c6">Postgres/Mysql/Hana
            </span>
          </p>
          <p class="c4">
            <span class="c6">Terraform
            </span>
          </p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
          <p class="c4">
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image2.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
          </p>
          <p class="c4">
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image2.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
          </p>
          <p class="c4">
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image2.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image3.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
          </p>
          <p class="c4">
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image3.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
          </p>
          <p class="c4">
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image3.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
          </p>
          <p class="c4">
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image2.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image3.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
          </p>
          <p class="c4">
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image2.png" style="width: 11.00px; height: 11.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
          </p>
          <p class="c4">
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image2.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
          </p>
          <p class="c4">
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image3.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
          </p>
          <p class="c4">
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image3.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
          </p>
          <p class="c4">
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image2.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image3.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
          </p>
          <p class="c4">
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image1.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 11.00px; height: 11.00px;">
              <img alt="" src="../static/images/image2.png" style="width: 11.00px; height: 11.00px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
          </p>
        </td>
      </tr>
      <tr class="c15">
        <td class="c3" colspan="1" rowspan="1">
          <p class="c10">
            <span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 39.36px; height: 39.36px;">
              <img alt="" src="../static/images/image4.png" style="width: 39.36px; height: 39.36px; margin-left: -0.00px; margin-top: -0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
            </span>
          </p>
        </td>
        <td class="c25" colspan="2" rowspan="1">
          <p class="c4 c13">
            <span class="c17">
            </span>
          </p>
          <p class="c4">
            <span class="c26">Education
            </span>
          </p>
        </td>
      </tr>
      <tr class="c15">
        <td class="c27" colspan="3" rowspan="3">
          <hr>
          <p class="c4 c13">
            <span class="c17">
            </span>
          </p>
          <p class="c4">
            <span class="c21">Dakota State University
            </span>
          </p>
          <p class="c4">
            <span>(Aug 2014 - May 2017)
            </span>
          </p>
          <p class="c4 c13">
            <span class="c36">
            </span>
          </p>
          <p class="c4">
            <span class="c6">Bachelor&rsquo;s in Computer Science
            </span>
          </p>
          <p class="c4">
            <span class="c6">Minoring in Computer Information Systems
            </span>
          </p>
          <p class="c4">
            <span class="c6">&nbsp; &nbsp; &nbsp; &nbsp; GPA: 3.302
            </span>
          </p>
        </td>
      </tr>
      <tr class="c15">
      </tr>
      <tr class="c15">
      </tr>
      <tr class="c15">
        <td class="c27" colspan="3" rowspan="1">
          <hr>
          <p class="c4 c13">
            <span class="c12">
            </span>
          </p>
        </td>
        <td class="c24" colspan="1" rowspan="1">
          <p class="c4 c13">
            <span class="c12">
            </span>
          </p>
        </td>
        <td class="c30" colspan="2" rowspan="1">
          <hr>
          <p class="c4 c13">
            <span class="c28">
            </span>
          </p>
        </td>
      </tr>
    </table>
    <p class="c35 c13">
      <span class="c36">
      </span>
    </p>
  </body>
</html>
